[submodule "third_party/opencv-xfeatures2d-release-static"]
	path = third_party/opencv-xfeatures2d-release-static
	url = https://github.com/GengGode/opencv-xfeatures2d-release-static.git
[submodule "third_party/opencv-xfeatures2d-shared"]
	path = third_party/opencv-xfeatures2d-shared
	url = https://github.com/GengGode/opencv-xfeatures2d-shared
